// Bootstrap brand color customization

/* brand Colors */

$brand-primary: #FF7144 !default;
$brand-gray: #44444433 !default;
$brand-gray-2: #c7c7c7 !default;
$brand-white:  #F2F2F2 !default;
$brand-acent: #FF7144 !default;
$brand-info: $cyan-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;
