

.navbar {
  display: flex;
  align-items: center;   /* centra verticalmente */
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: solid 3px black;
  border-radius: 16px;
  height: 100px; // ICG de 55px a 100px
}


img {
  width: 260px;
  max-height: 100%;
}


