<div class="button-container">
    <button class="bg-primary-color" mat-flat-button (click)="descargarUnaCaptura()">Descargar en una sola captura</button>
    <button class="bg-primary-color" mat-flat-button (click)="descargarSegmento()">Descargar por sementos</button>
</div>

<div id="contenidoPrincipal">
        <label>Prueba de concepto</label>
        <div class="col-12 col-lg-9" id="Captura0" > 
            ENCABEZADO
        </div>
        <div class="col-12 col-lg-9" id="Captura01" > 
            Card
        </div>
        <app-grafica-lineal  id="Captura1"></app-grafica-lineal>
        <app-grafica-circular id="Captura2"></app-grafica-circular>
        <app-grafica-barra id="Captura3"></app-grafica-barra>
        <app-grafica-barra-anvanzada id="Captura4"></app-grafica-barra-anvanzada>
        <app-grafica-lineal id="Captura5"></app-grafica-lineal>
        <app-grafica-combo id="Captura6"></app-grafica-combo>
</div>