.title-dashboard {
    font-size: 25px;
    font-weight: 700;
    line-height: 25.63px;
}

.title-app {
    font-size: 65px;
    font-weight: 700;
    line-height: 70.63px;
}

.container-fluid{
    text-align: center; 
    /* margin-top: 15%; */
}